*.suo
Debug
x64
*.db
*.hl
/src/bullet
/src/bullet.cpp
*.opendb
*.user
*.ipch
CMakeFiles
ozz.hdll.dir
*.vcproj
*.filters
*.cmake
*.sln
*.hdll
*.vcxproj
.vscode
build.bat
CMakeCache.txt
*.bc
buildjs.bat
*.tmp
build